.headerIcon {
    padding: 10px;
    color: gray;
  }
  .searchBarIcon {
    padding: 10px;
    padding-left: 2rem;
    color: gray;
  }
  .searchBarInput {
    height: 30px;
    border: none;
    margin-left: 10px;
    padding: 10px;
    color: gray;
  }