.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }


.ant-tabs-top{
  width: 100% !important;

}
.headliners{
  padding: 15px;

}
.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #f0f2f5;

}
.dashboard{
  padding: 20px 16% 0px 10% ;
  background: #f0f2f5;
}
.transaction-wrapper{
  background: white;
  /* padding: 10px; */
}
.ant-table-tbody > tr > td ,.ant-table-thead > tr > th  {
  border:none !important
}
.progress {
  background-color: rgb(62, 122, 235);
  height: 10px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
}
.income-dollar{
  font-size: calc(2vw + .1rem)
}
.balance-head{
  font-size: calc(1vw + .5rem)
}
.w-100
{
  width:100%
}
.color-shade{
  color:#969696
}
.total-income-wrapper{
  background: white;
  padding:10px;
  border-radius: 3px;
  /* box-shadow: 2px   rgba(0, 0, 0, 0.2), 2px rgba(0, 0, 0, 0.19); */
}
.box-shadow{
  box-shadow: 0px 27px 33px -18px #FEFEFE;


}
.badge-text{
  display: flex;
  align-items: center;
}
.bold{
  font-weight: 900;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.h-100{
  height: 100%;
}
.header-wrapper{
  display: block
}
.anticon-right,.anticon-left{
  display: inline-block;
  width: 60%;
  color:white;
  background:#0693E3 ;
  padding:10px 20px
}
.ant-menu-item-selected{
  color:white;
  background:#0693E3 !important
}
.ant-menu-submenu-active >div{
  color:white !important;
  background:#0693E3 !important
}
.ant-menu-submenu-active >div > i{
  color:white !important;
  background:#0693E3 !important
}

.ant-menu-item-selected a, .ant-menu-item-selected a{
  color:white !important
}
.ant-menu-item:hover a{
  /* color:initial !important */
  /* color:red !important */
}
.ant-menu-item-active{
  color:white !important
}
.ant-menu{
  padding-left:10px;
  padding-right:5px
}
.sider-main{
  width: 15%;
}
.logo{

  font-size: calc(1vw + .2rem);
  font-weight: 900;

}
.logo-collapsed{

  font-size: 20px;
  font-weight: 900;
  padding:5px;

}
.table-main{
  min-width: 400px;
  overflow: scroll;
}
.ant-tabs-nav{
  margin:0 !important
}

@media only screen and (max-width: 768px) {
  .vanish-on-mobile{
    display: none !important
  }
  .ant-layout-sider{
    position: fixed;
    height: 100vh;
    z-index: 1000
  }
  .ant-layout-sider-zero-width-trigger{
    top:0px
  }
  .ant-layout .site-layout{
 margin-top:42px;
  }
  .logo-collapsed{

    font-size: calc(1vw + .5rem);
    font-weight: 900;

  }
  .balance-head{
    font-size: calc(3vw + .2rem)
  }
  .header-wrapper{
    display: none
  }
  .dashboard{
    padding: 20px 2px ;
    background: #f0f2f5;
  }
  .site-layout-background{
    padding:0px !important
  }
  .income-dollar{
    font-size: calc(2vw + 1rem)
  }
  .sider-main{
    width: 90%;
  }

  .logo{

    font-size: calc(2vw + 2rem);
    font-weight: 900;

  }
}
.transaction-wrapper {
  margin-top:20px
}
@media only screen and (max-width: 1200px) {
  .dashboard{
    padding: 20px 2px ;
  }
  .logo{

    font-size: calc(1.5vw + .6rem);
    font-weight: 900;

  }

}
@media only screen and (max-width: 1300px) {

  .balance-wrapper{
    margin: 2px !important;
  }
  .ant-btn {
    padding: 5px !important;
  }
  .recent-transaction{
    font-size: calc(2vw + 1rem) !important;
}
.sider-main{
  width: 20%;
}
}







.loader{
  height: 100vh;
  background:#000000;
}




.navbar-tools >ul {
  bottom: -18px;
}




.toggle{
  justify-content: center;
  margin-top: 5px;

}



